*{box-sizing: border-box;}
body{background-image: url("bg2.jpg");
    }
#wrapper{
    position: relative;
    color: darkslateblue;
    font-style: normal;
    font-family: cursive;
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    
}
.dice{
    width: 10%;
    height: auto;
}
#pre-game{
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100%;
}
#player-info{
    display: flex;
}

#player-info form{
    margin: auto;
    text-align: center;
    margin-top: 40vh;
}
#player-info form input{
    display: block;
    margin: auto;
    text-align: center;
}

#player-info form input:focus{
    outline: none;
}

#player-info form input[type=text]{
    max-width: 400px;
    height: 40px;
    border-radius: 40px;
    opacity: 0.8;
    border: 2px inset greenyellow;
    color: gray;
    font: xx-large cursive ;
}
#player-info form input[type=button]{
    border-radius: 30px;
    width: 100px;
    height: 30px;
    opacity: 0.7;
    background-color: greenyellow;
}
#player-info form input:hover{
    opacity: 1;
}
.player0{
    font-size: 2em;
    font-weight: lighter;
    line-height: 2em;
    border: 1px solid rgba(0,0,0,0.3);
    float: left;
    text-align: center;
    width: 50%;
   
}
.player1{
    font-size: 2em;
    font-weight: lighter;
    line-height: 2em;
    border: 1px solid rgba(0,0,0,0.3);
    float: right;
    text-align: center;
    width: 50%;
    
}
.timer{
    background-color: gray;
    height: 0.5em;
    width: 100%;
}
.active{
    font-weight: bold;
    border: 1px solid greenyellow ;
}
.active > .timer{
    background-color: greenyellow;
    border: 1px solid greenyellow ;
}
.curr-box{
    background-color:  rgba(0,0,0,0.3);
    width: 40%;
    padding: 1em;
    padding-top:0 ;
    margin: 0 auto;
    line-height: 2em;
    font-size: 0.5em;
}

button{
    border-radius: 1em;
    background-color:  rgba(0,0,0,0.3);
    border: none;
    display: block;
    margin: auto;
    text-align: center;
}
button:focus{
    outline: none;
}
button:hover {
    color: whitesmoke;
  width: 105%;
}
#hold:hover{
    width: 50%;
}
#buttons{
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

/* #new{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}*/
#roll{
    background-image: none;
    background-repeat: no-repeat;
    background-size:contain ;
    width: 70%;
    min-height: 4.8em;
   margin-top:70%;
   margin-bottom: 64%;  
} 
#roll:hover{
    transform: rotate(10deg);
}
#hold{
    min-height: 1.5em;
}
.winner{
    color: greenyellow;
}
@media only screen and (orientation: landscape){
    body>i{display: none;}
}
body>i{color: red;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
text-align: center;}
#theme-switch{
    position: absolute;
    right: 0;
    top: 0;
}
#theme-switch:hover{
    background-color: black;
    width: fit-content;
}